.auth-page {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  gap: 20px;
  padding: 20px;

  display: flex;
  flex-direction: column;

  border: 1px solid black;
}
